.DS_Store
*~
*.pyc
*.idea
*log*.txt
/build/
/dist/
/api/
tools/**/*.json
tools/**/*.html
!tools/api/template/*
!tools/statistics/template/stats.html
tools/**/*capabili*.xml.txt
tools/**/cache
v/
yang.egg-info
/**/yang.log
/tools/parseAndPopulate/**/*.json
/tools/parseAndPopulate/**/*.yang
/tools/parseAndPopulate/**/*.xml
!/tools/parseAndPopulate/template/compilationStatusTemplate.html
!/tools/parseAndPopulateTest/testJson/prepare.json
