[submodule "standard/bbf"]
	path = standard/bbf
	url = https://github.com/BroadbandForum/yang
[submodule "standard/mef"]
	path = standard/mef
	url = https://github.com/mjethanandani/YANG-public
	branch = master
[submodule "vendor/huawei"]
	path = vendor/huawei
	url = http://github.com/Huawei/yang.git
[submodule "vendor/fujitsu"]
	path = vendor/fujitsu
	url = https://github.com/FujitsuNetworkCommunications/FSS2-Yang.git
