[submodule "standard/bbf"]
	path = standard/bbf
	url = https://github.com/BroadbandForum/yang
[submodule "vendor/juniper/17.2/17.2R1/common"]
	path = vendor/juniper/17.2/17.2R1/common
	url = https://github.com/Juniper/yang.git
