[submodule "standard/bbf"]
	path = standard/bbf
	url = https://github.com/BroadbandForum/yang
[submodule "vendor/huawei"]
	path = vendor/huawei
	url = https://github.com/Huawei/yang.git
[submodule "standard/mef"]
	path = standard/mef
	url = https://github.com/mjethanandani/YANG-public
	branch = master
