language: python
python:
  - "2.7"
install: "pip install pyang==1.7.1 requests"
script:
  - travis_wait 30 ./vendor/cisco/check.sh
  - ./standard/ietf/check.sh
  - ./standard/bbf/check.sh
  - ./experimental/ieee/check.sh
  - ./standard/ieee/check.sh

