[project]
	description = yang models from standards organizations such as the IETF, open source such as Open Daylight or vendor proprietary ones
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yangusr
[access "refs/for/refs/*"]
	read = group user/yangusr
	push = group user/yangusr
	label-Code-Review = -2..+2 group user/yangusr
	label-Verified = -1..+1 group user/yangusr
	rebase = group user/yangusr
	removeReviewer = group user/yangusr
	submit = group user/yangusr
[access "refs/heads/*"]
	read = group user/yangusr
	create = group user/yangusr
	push = +force group user/yangusr
	pushMerge = group user/yangusr
[access "refs/tags/*"]
	push = +force group user/yangusr
	pushTag = group user/yangusr
	pushSignedTag = group user/yangusr
