[project]
	description = yang models from standards organizations such as the IETF, open source such as Open Daylight or vendor proprietary ones
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Committer for YandModels
	owner = group user/yangusr
[access "refs/for/refs/*"]
	read = group Committer for YandModels
	read = group user/yangusr
	push = group Committer for YandModels
	push = group user/yangusr
	label-Code-Review = -2..+2 group Anonymous Users
	label-Code-Review = -2..+2 group Committer for YandModels
	label-Code-Review = -2..+2 group user/Ladislav Lhotka (llhotka)
	label-Code-Review = -2..+2 group user/yangusr
	label-Verified = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group Committer for YandModels
	label-Verified = -1..+1 group user/Ladislav Lhotka (llhotka)
	label-Verified = -1..+1 group user/yangusr
	rebase = group Committer for YandModels
	rebase = group user/yangusr
	removeReviewer = group Committer for YandModels
	removeReviewer = group user/yangusr
	submit = group Anonymous Users
	submit = group Committer for YandModels
	submit = group user/yangusr
[access "refs/heads/*"]
	read = group Committer for YandModels
	read = group user/yangusr
	create = group Committer for YandModels
	create = group user/yangusr
	push = group Committer for YandModels
	push = +force group user/yangusr
	pushMerge = group Committer for YandModels
	pushMerge = group user/yangusr
[access "refs/tags/*"]
	push = group Committer for YandModels
	push = +force group user/yangusr
	pushTag = group Committer for YandModels
	pushTag = group user/yangusr
	pushSignedTag = group Committer for YandModels
	pushSignedTag = group user/yangusr
