<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yang catalog statistics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>YANG Model</th>
                    <th>Compilation Results (pyang --lint). pyang 1.7.3 </th>
                    <th>Compilation Results (pyang). Note: also generates errors for imported files. pyang 1.7.3</th>
                    <th>Compilation Results (confdc) Note: also generates errors for imported files. confd version confd-6.4 </th>
                    <th>Compilation Results (yumadump-pro). Note: also generates errors for imported files. yangdump-pro 17.10-B3 </th>
                    <th>Compilation Results (yanglint -v). Note: also generates errors for imported files. yanglint 0.13.49 </th>
                </tr>
            </thead>
            <tbody>
               <tr>
                   <td> {{ result.name }}@{{ result.revision }} </td>
                   <td> {{ result.pyang }} </td>
                   <td> {{ result.pyang_lint }} </td>
                   <td> {{ result.confdrc }} </td>
                   <td> {{ result.yumadump }} </td>
                   <td> {{ result.yanglint }} </td>
               </tr>
            </tbody>
        </table>
</body>
</html>
