<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yang catalog statistics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SDOs and Opensource</th>
                    <th>number in github</th>
                    <th>number in the catalog</th>
                    <th>% that pass compilation</th>
                    <th>% with metadata</th>
                </tr>
            </thead>
            <tbody>
                {% for t in table_sdo %}
               <tr>
                   <td> {{ t.name }} </td>
                   <td> {{ t.num_gituhub }} </td>
                   <td> {{ t.num_catalog }} </td>
                   <td> {{ t.percentage_compile }} </td>
                   <td> {{ t.percentage_extra }} </td>
               </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>number in github</th>
                    <th>number in the catalog</th>
                    <th>% that pass compilation</th>
                    <th>% with extra metadata</th>
                </tr>
            </thead>
            <tbody>
                {% for t in table_vendor %}
                <tr>
                    <td> {{ t.name }} </td>
                    <td> {{ t.num_gituhub }} </td>
                    <td> {{ t.num_catalog }} </td>
                    <td> {{ t.percentage_compile }} </td>
                    <td> {{ t.percentage_extra }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered">
    <tr>
        <th>nx - version\platform</th>
        {% for value in nx %}
        <th> {{ value }}</th>
        {% endfor %}
    </tr>
    {% for value in nx_values %}
   <tr>
        {% for i in value %}
       <td> {{ i }} </td>
        {% endfor %}
   </tr>
    {% endfor %}
</table>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>xr - version\platform</th>
        {% for value in xr %}
        <th> {{ value }}</th>
        {% endfor %}
    </tr>
    {% for value in xr_values %}
   <tr>
        {% for i in value %}
       <td> {{ i }} </td>
        {% endfor %}
   </tr>
    {% endfor %}
</table>

<table class="table table-bordered">
    <tr>
        <th>xe - version\platform</th>
        {% for value in xe %}
        <th> {{ value }}</th>
        {% endfor %}
    </tr>
    {% for value in xe_values %}
   <tr>
        {% for i in value %}
       <td> {{ i }} </td>
        {% endfor %}
   </tr>
    {% endfor %}
</table>

<h3>Basic statistics:</h3>
<p>Number of yang files in vendor {{ num_yang_files_vendor }}</p>
<p>Number of yang files in vendor no duplicates {{ num_yang_files_vendor_ndp }}</p>
<p>Number of yang files in standard all together {{ num_yang_files_standard }}</p>
<p>Number of yang files in standard all together no duplicates {{ num_yang_files_standard_ndp }}</p>
<p>Number of yang files parsed into yangcatalog {{ num_parsed_files }}</p>
<p>Number of unique yang files parsed into yangcatalog {{ num_unique_parsed_files }}</p>
</body>
</html>
